@model WebApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {

        <li>@Html.ActionLink(customer.Name, "CustomerNotFound", "Movies")</li>

    }



</ul>

